
# Django
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# Database (Docker ushın)
# Docker isletseńiz DB_HOST=db bolıwı kerek, localda bolsa localhost
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Postgres (Docker konteyneri ushın - joqarıdagılar menen birdey bolsın)
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Telegram 
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_URL=
TELEGRAM_SECRET_TOKEN=

# Email (Mailtrap mánzilleri)
EMAIL_USER=sizdin_mailtrap_useriniz
EMAIL_PASS=sizdin_mailtrap_paroliniz